# 2019년 1학기 통계 프로그래밍 시험 # 2
---

** 유의사항 **

* 시험을 시작하기 전에 쥬피터 노트북 파일 이름을 **학과_학번_이름.ipynb**로 변경한다.
* 각 문제 아래에 코드 셀을 추가하여 프로그램을 작성한다.
* 시험이 종료하면 쥬피터 노트북을 메일에 첨부하여 joongyang.park@gmail.com로 보낸다.
* 시험 감독관이 메일을 확인한 후에 퇴실해야 한다.
* 시험의 만점은 30점이며 각 문제의 배점은 3점이다.

### 1. 키보드에서 희망 직업과 연봉을 입력을 받아서 희망 직업과 월급(연봉의 1/12)을 출력하는 프로그램을 작성하시오.

### 2. 아래 리스트 surnames은 인구가 많은 상위 10개 성씨를 인구의 감소순으로 정렬한 것이다. 인구가 가장 적은 3개의 성씨를 추출하시오.

In [0]:
surnames = ['Kim','Lee','Park','Choi','Jung','Kang','Jo','Yoon','Jang','Lim']

### 3. 앞 문제의 surnames에서 비복원 표집으로 3개 성씨를 추출하는 프로그램을 random 모듈의 sample() 함수를 이용하여 작성하시오.

### 4. 아래 리스트 X 를 [1, 2, 3, 4, 5, 6]로 만드는 프로그램을 작성하시오.

In [0]:
X = [1,2,3,[4,5,6]]

[1, 2, 3, 4, 5, 6]

### 5. 리스트 data에 저장된 값 중에서 3의 개수를 세어서 cnt에 저장하고, cnt를 data에 저장된 값의 개수로 나눈 결과를 prop에 저장하고 출력하는 프로그램을 작성하시오. 리스트의 count() 메소드를 이용하시오.

In [0]:
data = [5, 4, 4, 5, 5, 2, 5, 3, 5, 3, 1, 1, 4, 3, 5, 3,
        3, 1, 1, 2, 2, 3, 5, 1, 1, 5, 4, 1, 4, 5, 4, 4,
        2, 4, 2, 1, 4, 4, 5, 2, 5, 2, 1, 2, 2, 2, 3, 3,
        2, 4, 2, 4, 3, 5, 2, 4, 2, 5, 4, 3, 4, 4, 5, 5,
        3, 5, 3, 3, 5, 5, 2, 2, 3, 2, 5, 5, 3, 4, 4, 3,
        5, 4, 4, 3, 5, 4, 4, 3, 5, 4, 2, 3, 3, 4, 1, 2,
        4, 3, 1, 1]

### 6. 키보드에서 입력받은 정수가 짝수인지 홀수인지 판단하는 아래 프로그램에서 밑줄 친 부분에 적절한 코드를 쓰시오.

In [0]:
num = ______(input("숫자 : "))
if _____________:
    print("짝수입니다.")
else:
    print("홀수입니다.")

숫자 : 1
홀수입니다.

### 7. 1에서 100 사이에 있는 정수가 저장된 리스트를 만들고 이로부터 5의 배수만 추출하여 새로운 리스트로 만드는 프로그램을 작성하시오.

### 8.  학생들의 이름과 성적이 순차적으로 저장된 리스트 name_score에서 이름만 추출하여 names 리스트에 저장하고 성적만 추출하여 scores 리스트에 저장하는 프로그램을 작성하시오.

In [0]:
name_score = ['Kim', 97, 'Lee', 80, 'Park', 77, 'Choi', 76, 'Jung', 91,
              'Kang', 88, 'Jo', 82, 'Yoon', 71, 'Jang', 65, 'Lim', 85]

### 9. scores 리스트에 저장된 성적의 최대값과 평균을 계산하시오.

### 10. 아래 리스트 objects에 저장된 3번째 값의 자료형을 알아보는 프로그램을 작성하시오.

In [0]:
objects = [123456, 'python', 123456.0, True]